<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Falha</title>
</head>
<body>
    <h2>Obrigado pela sua doação!</h2>
    <p>Você ajuda a manter esse projeto funcionando!!</p>
</body>
</html>